<!DOCTYPE html>
<html lang="FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/Helps.css}">

    <title>resume</title>

</head>

<body>
<header>
    <div class="logo">
        <img src="university_logo.png" alt="Logo de l'Université de Rouen">
    </div>
    <div class="title">
        <h1>Nom de votre projet</h1>
        <h2>Version 1.0</h2>
    </div>
</header>
<main>
    <h2 class="titreop"> Liste des CV</h2>
    <div class="container-fluid pt-4 px-4">
        <div class="  text-center rounded p-4" style="background-color: aliceblue;">

            <div class="table-responsive">
                <table border="1">
                    <tr>
                        <th>Id</th>
                        <th>Genre</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Diplôme</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Monsieur</td>
                        <td>Jean</td>
                        <td>Dupont</td>
                        <td>Licence Informatique</td>
                        <td><button class="supprimer">Supprimer</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Madame</td>
                        <td>Marie</td>
                        <td>Dubois</td>
                        <td>Master GL</td>
                        <td><button  class="supprimer">Supprimer</button></td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Monsieur</td>
                        <td>Paul</td>
                        <td>Durand</td>
                        <td>Bac SE</td>
                        <td><button  class="supprimer">Supprimer</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</main>
</body>

</html>
